body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#faq{
    display:none
}
#menu {
  background-color: #000000;
  color: #FFFFFF;
  position:fixed;
  top:0;
  right:0;
  height:30px;
}
#menu div{
    display:inline-block;
    position:relative;
    left:0;
    margin:0.5em 0.5em;
}
#search{
    margin: 0 auto;
    text-align:center;
}
#thoughts{
    padding:1em;
}
.thought{
    padding:.5em;
    margin:.5em;
    border-radius: 5px;
    background-color:#aaaaaa;
}