body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#faq{
    display:none;
    background:transparent;
}
#menu {
    background-color: #000000;
    color: #FFFFFF;
    position:fixed;
    top:0;
    right:0;
    height:30px;
}
#menu div{
    display:inline-block;
    position:relative;
    left:0;
    margin:0.5em 0.5em;
}
#search{
    margin: 0 auto;
    text-align:center;
}
#thoughts{
    padding:1em;
}
.thought{
    padding:.5em;
    margin:.5em;
    border-radius: 5px;
    background-color:#aaaaaa;
}
#mask{
    position:fixed;
    z-index:10;
    left:0;
    top:0;
    background-color:#333;
    opacity:0.5;
    display:none;
}
#thought-display{
    position:absolute;
    top:0;
    left:0;
    z-index:11;
    display:none;
}
#thought-display div{
    text-align:center;
}

#current-thought{
    position:absolute;
    top:50%;
    left:0;
    height:auto;
}
#children{
    position:absolute;
    bottom:0;
    left:0;
    height:100px;
}
.thought-node{
    padding:.5em;
    margin:.5em;
    border-radius: 5px;
    background-color:#fff;
}
.parent{
    padding:.5em;
    margin:.5em;
    border-radius: 5px;
    background-color:#fff;
}
#node{
    display: inline-block;
    text-align:center;
    width:50%;
}
.node{
    padding:.5em;
    margin:.5em;
    border-radius: 5px;
    background-color:#fff;
}
#parents{
    position:absolute;
    top:0;
    left:0;
    height:100px;
}
.modal {
    background-color:#fff;
    display:none;
    opacity:0.8;
    
}