extends layout

block menu
    div(id='menu')
        div(id='faq-button') FAQ
        unless user
            div(id='signin-button') Sign in
        else
            div(id='username') #{user.name}
            div(id='signout-button')
                a(href='/signout') Sign Out
    
block search
    div(id='search')
        form(action='#', id='think')
            div(id='search-input')
                input(id='query',type='text', value='',name='query')
                input(type='submit',value='Think')
  
    // form(action='#', onsubmit='doSomething();return false;')
    //     div
    //         label Question
    //             input(id='content',type='text',value='',name='content')
    //     div
    //         label Public?
    //             input(id='public',type='checkbox',name='public')
    //     div
    //         input(type='submit',value='Ask')
block thoughts
    div(id='thoughts')
block faq
    include faq.html
block signin
    include signin.html

