extends layout

block menu
    include menu
    
block search
    div(id='search')
        form(action='#', id='think')
            div(id='search-input')
                input(id='query',type='text', value='',name='query')
                if user
                    input(id='userid',type='hidden',value=user._id)
                else
                    input(id='userid',type='hidden',value='')
                input(type='submit',value='Think')
    //-
        form(action='#', onsubmit='doSomething();return false;')
            div
                label Question
                    input(id='content',type='text',value='',name='content')
            div
                label Public?
                    input(id='public',type='checkbox',name='public')
            div
                input(type='submit',value='Ask')
block thoughts
    div(id='thoughts')
block faq
    include faq.html
block signin
    include signin.html
block thoughtForm
    include thoughtForm

