extends layout

block content
    h1= title
    div
        form(action='#', id='think')
            div(id='search')
                input(id='query',type='text', value='',name='query')
                input(type='submit',value='Think')
  
    // form(action='#', onsubmit='doSomething();return false;')
    //     div
    //         label Question
    //             input(id='content',type='text',value='',name='content')
    //     div
    //         label Public?
    //             input(id='public',type='checkbox',name='public')
    //     div
    //         input(type='submit',value='Ask')
    div(id='thoughts')