doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
  body
    block menu
    block search
    block thoughts
    block faq
    block signin
    div(id='mask')
    include thoughtDisplay
    include includes/footer