div(id='thought-display')
    div(id='parents')
    div(id='current-thought')
        span(id='node')
            div(id='question',class='node')
            div(id='answer',class='node')
    div(id='children')